.container {

}

.form-container {
  padding: 15px;
  width: 300px;
  margin: auto;
}

.form-input {
  width: 100%;
}

.submit-form {
  margin-left: 100px;
  width: 100px;
}

.result-box {
  padding: 15px;
  margin: auto;
  width: 500px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
}

.button-container {
  width: 300px;
  margin: auto;
}
