<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span mat-raised-button class="nav-bar-button" style="cursor: pointer"
                  color="primary" (click)="goToMain()">Aplicación de agencias!</span>
    <span class="example-spacer"></span>
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>-->
    <button mat-raised-button class="nav-bar-button" color="primary" (click)="goSavedAgencies()">Guardados</button>
  </mat-toolbar-row>
</mat-toolbar>
