.item-list:hover {
  background: grey;
  border-radius: 4px;
  cursor: pointer;
}

.item-list:active {
  background-color: darkgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container {
  border-radius: 15px;
  box-shadow: #666666;
  width: 800px;
  margin: auto;
}

.select-country {
  width: 300px;
  margin: 100px 250px;
}
